<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/>
   <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
   <link rel="stylesheet" type="text/css" href="stylesheets/search.css">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="https://maps.googleapis.com/maps/api/js"></script>
   <script src="javascripts/ejs.js"></script>
</head>
<body>
<div class="top-panel z-depth-1">
   <div class="top-panel-margined">
      <div class="logo-box">
         <img src="images/logo.svg" alt="Meal Jungle" >
      </div>
      <div class="top-panel-nav-box">
         <div class="top-panel-nav-line">
            <div class="top-panel-nav-buttons"></div>
            <div class="top-panel-nav-input">
               <!--<input class="search-input" type="text" name="firstname">-->
               <!-- <div class="search-input-shadow"></div> -->
               <div class="search-input">
                  <input type="text" id="inputtext"/>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="top2-panel"></div>
<div class="mainbox z-depth-2">

   <div  id="result-section" class="left-box grid"
      <!--
      <div class="footer-box-left">
         <div class="footer-box-left-main">
            <div class="footer-box-left-info">
               <div class="footer-box-left-info-logo">
                  <img src="images/logo.svg" alt="Meal Jungle" >
               </div>
               <div class="footer-box-left-info-menu">
                  <p>2015 Meal Jungle</p>
                  <ul>
                     <li>Contact</li>
                     <li>Twitter</li>
                     <li>Facebook</li>
                  </ul>
               </div>
            </div>
            <div class="separator"></div>
            <div class="footer-box-left-subscribe">

            </div>
         </div>
      </div>
      -->
   </div><!--
--------><div class="right-box" id="map">
   </div>
</div>
<div class="restaurant-box"></div>
</body>
<script src="javascripts/jquery.auto-grow-input.min.js"></script>
<script src="javascripts/search.js"></script>

</html>