<div id="content">
	<div id="siteNotice">
	</div>
	<img src="../images/1.jpg"> 
	<h1 id="firstHeading" class="firstHeading">
		<b>
			<%= restaurant.name %>
		</b> 
	</h1> 
	<div id="bodyContent">
		<p> 
			<%= restaurant.address %>
		</p>
	</div>
</div>