      <div class="item-box">
         <div class="item-box-header">
            <div class="item-box-photo"></div>
            <div class="item-box-info">
               <div class="item-box-name">
                  <p><%= restaurant.name %></p>
               </div>
               <div class="item-box-address">
                  <p><%= restaurant.address %></p>
               </div>
            </div>
         </div>
      </div>