htmml{
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
    margin:0;
    min-width: 800px;
}

.top-panel{
    height: 100px;
    background-color: #fff176;
}

.top2-panel{
    height: 20px;
    background-color: whitw;
    /* margin-top: 30px; */
}

.mainbox{
    width: 100%;
    min-width:800px;
    background-color: green;
    position: absolute;
    top: 150px;
    bottom: 3px;
}

.left-box{
    width: 55%;
    min-width:440px;
    height: 100%;
    display: inline-block;
    overflow-y: scroll;
    background-color: #eeeeee;
    float:left;
}

.right-box{
    display: inline-block;
    height: 100%;
    width: 45%;
    min-width:360px;
    background-color: yellow;
    float:right;
}

.item-box{
    border-radius: 15px 15px 0px 0px;
    display: inline-block;
    width: 180px;
    height: 260px;
    background-color: #fafafa;
    margin: 10px;
    box-shadow: 1.5px 1.5px rgba(0,0,0,.1);
    transition: box-shadow 0.5s ease;
}

.item-box-header:hover {
    -webkit-filter: brightness(100%);
}

.item-box:hover{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.item-box-header{
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(85%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.item-box-footer{
    width: 100%;
    height: 19.5%;
}

.item-box-menu{
    width: 49.5%;
    height: 100%;
    /* display: inline-block; */
    border-right: 1px solid rgba(0,0,0,.2);
    border-top: 2px solid rgba(0,0,0,.2);
    float: left;
}

.item-box-menu:hover {
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.4);
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    cursor: hand;cursor: pointer;
}

.item-box-profile:hover {
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.4);
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    cursor: hand;cursor: pointer;

}
.item-box-footer-icon{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: black;
    margin-left: 10px;
    margin-top: 15px;
}

.item-box-footer-text{
    display: inline-block;
    vertical-align:middle;
}
.item-box-footer-text>p{
    margin: 0px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
}


.item-box-profile {
    width: 49.5%;
    height: 100%;
    display: inline-block;
    border-left: 1px solid rgba(0,0,0,.2);
    border-top: 2px solid rgba(0,0,0,.2);
    float: right;
}

.item-box-photo{
    width: 100%;
    height: 70%;
    background: url(../images/1.jpg) 50% 50% no-repeat;
    border-radius: 15px 15px 0px 0px;
}

.item-box-info{
    width: 100%;
    height: 30%;
}

.item-box-name{
    width: 90%;
    height: 40%;
    margin: auto;
}

.item-box-name:hover{
    cursor: hand;cursor: pointer;

}

.item-box-name>p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.item-box-address{
    width: 90%;
    height: 40%;
    margin: auto;
}


.top-panel-margined{
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.logo-box{
    height: 100px;
    width: 175px;
    float:left;
}

img{
    height: 100%;
    width: 100%;
}

.top-panel-nav-box{
    min-width: 580px;
    height: 100px;
    overflow: hidden;
}

.top-panel-nav-line{
    height: 50px;
    margin-top: 25px;
}

.top-panel-nav-input{
    min-width: 405px;
    height: 50px;
    overflow: hidden;
    /* overflow-x: scroll; */
    white-space: nowrap;
    position: relative;
}

.search-input>input{
    width:100%;
    height:100%;
    background-color: #212121;
    color: #fafafa;
    text-indent: 10px;
    border: 0;
    font-size: 16px;
    padding-left:8px;
    padding-right:8px;
}

.search-input-shadow{
    position: absolute;
    width: 100%;
    height: 30px;
    z-index: 10;
    border-radius: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;1+0,0+4,0+95,1+100 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 4%, rgba(0,0,0,0) 95%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 4%,rgba(0,0,0,0) 95%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 4%,rgba(0,0,0,0) 95%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
    pointer-events: none;
    top: 10px;
}

.top-panel-nav-buttons{
    height: 50px;
    width: 180px;
    float: right;
    background-color: yelllow;
}

.search-input{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-size: 20px;
    background-color: #212121;
    overflow: hidden;
    border-radius: 20px;
}l

 p{
     margin: 0px;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 6px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
    background-color: #FFFF80;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: yellow;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

.tag{
    height:28px;
    display: inline-block;
    margin-right: 2px;
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-top: 3px;
    padding-left: 3px;
}

.tag-name
{
    display: inline-block;
    background: green;
    color: white;
    text-align: center;
    padding: 3px;
    padding-left: 10px;
    border-radius: 1em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 1px;
    float: left;
    padding-right: 8px;
    font-size: 16px;
    height: 18px;
    line-height: 18px;
}

.tag-close{
    width: 22px;
    height: 18px;
    display: inline-block;
    background: green;
    color: white;
    text-align: center;
    padding: 3px;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 14px;
    padding-left: 0px;
    cursor: hand;cursor: pointer;
    line-height: 22px;
}
.tag-close:before{
    font-size: 128px;
    vertical-align: middle;
}

.footer-box-empty{
    width:55%;
    height:150px;
}

.footer-box-left{
    bottom:0;
    width: 100%;
    height:150px;
    background-color:white;
}

.footer-box-left-main{
    width: 80%;
    height: 150px;
    margin: auto;
}

.footer-box-left-info{
    height: 100%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    float:left;
}

.footer-box-left-info-logo{
    height:60px;
    width:100%;
}

.footer-box-left-info-menu > p{
    font-weight: 600;
    font-size: 14px;
}

.footer-box-left-info-menu > ul{
    margin-left: 14px;
    font-weight: 600;
    list-style: initial;
}

.footer-box-left-subscribe{
    height: 100%;
    width:68%;
    display: inline-block;
    float:right;
}

.separator
{
    width: 1px;
    height: 100px;
    margin-top: 25px;
    background-image: radial-gradient(#000, #CCB), radial-gradient(#000, #CCC);
    background-position: 0, 100%, 0, 100%;
    display: inline-block;
    float:left;
}

.footer-box-right{
    bottom: 0px;
    width: 100%;
    position: absolute;
    height: 150px;
    background-color: white;
    z-index: 99;
    display:none;
}

.z-depth-0 {
    box-shadow: none !important; }

.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.z-depth-4, .modal {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }













